<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ListView</title>
</head>
<body>
	<form method="post" th:action="CartView" th:object="${orderList}">
	<h1>商品リスト</h1>
	<table border="1" style="border-collapse: collapse">
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>価格（円）</th>
			<th>個数</th>
		</tr>

		<tr th:each="item: ${itemList}">
			<td th:text="${item.itemId}" />
			<td th:text="${item.name}" />
			<td th:text="${item.price}" />
			<td><input type="text" name="num" value="0" /></td>
		</tr>
	</table>
	<br/>
	<input type="submit" value="カートに入れる" />
	</form>
</body>
</html>